<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Weather App</title>
</head>
<body>
  <form action="/weather" method="POST">
    <input type="text" name="cityName">
  <button>Submit</button>
  </form>

</body>
</html>